In [1]:
import pandas as pd

In [4]:

links = pd.read_csv("../data/raw/ml-25m/links.csv")
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [5]:
links = links.dropna(subset=["tmdbId"])

links["tmdbId"] = links["tmdbId"].astype(int)

links.to_csv("../data/processed/links_cleaned.csv", index=False)

print("✅ Cleaned links saved at ../data/processed/links_cleaned.csv")

✅ Cleaned links saved at ../data/processed/links_cleaned.csv

In [6]:
links.info

<bound method DataFrame.info of        movieId   imdbId  tmdbId
0            1   114709     862
1            2   113497    8844
2            3   113228   15602
3            4   114885   31357
4            5   113041   11862
...        ...      ...     ...
62418   209157  6671244  499546
62419   209159   297986   63407
62420   209163  6755366  553036
62421   209169   249603  162892
62422   209171    55323   79513

[62316 rows x 3 columns]>

In [7]:
tmdb_df = pd.read_csv("../data/raw/tmdb_movies.csv")

# Display first few rows
tmdb_df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [8]:
tmdb_df.isnull().sum()

id                            0
title                        13
vote_average                  0
vote_count                    0
status                        0
release_date             204000
revenue                       0
runtime                       0
adult                         0
backdrop_path            867044
budget                        0
homepage                1052648
imdb_id                  564217
original_language             0
original_title               13
overview                 244328
popularity                    0
poster_path              378791
tagline                 1011669
genres                   478671
production_companies     649362
production_countries     528853
spoken_languages         509080
keywords                 862448
dtype: int64

In [10]:
# Drop unnecessary columns
tmdb_filtered = tmdb_df.drop(columns=[
    'homepage', 'tagline', 'backdrop_path', 'poster_path', 
    'production_companies', 'production_countries', 'spoken_languages', 'keywords'
])

In [11]:
tmdb_filtered["title"].fillna(tmdb_filtered["original_title"], inplace=True)

/var/folders/jc/l_cfjyfs6q7265bvjqzjj3280000gn/T/ipykernel_13066/3647608136.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tmdb_filtered["title"].fillna(tmdb_filtered["original_title"], inplace=True)

In [12]:
tmdb_filtered["release_date"].fillna("Unknown", inplace=True)

/var/folders/jc/l_cfjyfs6q7265bvjqzjj3280000gn/T/ipykernel_13066/916979563.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tmdb_filtered["release_date"].fillna("Unknown", inplace=True)

In [13]:
tmdb_filtered = tmdb_filtered.dropna(subset=["overview"])

In [14]:
tmdb_filtered["genres"].fillna("Unknown", inplace=True)

/var/folders/jc/l_cfjyfs6q7265bvjqzjj3280000gn/T/ipykernel_13066/3475163162.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tmdb_filtered["genres"].fillna("Unknown", inplace=True)

In [15]:
tmdb_df.isnull().sum()

id                            0
title                        13
vote_average                  0
vote_count                    0
status                        0
release_date             204000
revenue                       0
runtime                       0
adult                         0
backdrop_path            867044
budget                        0
homepage                1052648
imdb_id                  564217
original_language             0
original_title               13
overview                 244328
popularity                    0
poster_path              378791
tagline                 1011669
genres                   478671
production_companies     649362
production_countries     528853
spoken_languages         509080
keywords                 862448
dtype: int64

In [16]:
# Drop useless columns
tmdb_filtered = tmdb_df.drop(columns=[
    'homepage', 'tagline', 'backdrop_path', 'poster_path', 
    'production_companies', 'production_countries', 'spoken_languages', 'keywords'
])

In [17]:
# Fill missing titles with original_title
tmdb_filtered["title"].fillna(tmdb_filtered["original_title"], inplace=True)

/var/folders/jc/l_cfjyfs6q7265bvjqzjj3280000gn/T/ipykernel_13066/3960270926.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tmdb_filtered["title"].fillna(tmdb_filtered["original_title"], inplace=True)

In [18]:
# Option 1: Fill with "Unknown"
tmdb_filtered["release_date"].fillna("Unknown", inplace=True)

# Option 2: Drop movies with no release date
# tmdb_filtered = tmdb_filtered.dropna(subset=["release_date"])

/var/folders/jc/l_cfjyfs6q7265bvjqzjj3280000gn/T/ipykernel_13066/3688945566.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tmdb_filtered["release_date"].fillna("Unknown", inplace=True)

In [19]:
tmdb_filtered = tmdb_filtered.dropna(subset=["overview"])
tmdb_filtered["genres"].fillna("Unknown", inplace=True)

/var/folders/jc/l_cfjyfs6q7265bvjqzjj3280000gn/T/ipykernel_13066/2795879316.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tmdb_filtered["genres"].fillna("Unknown", inplace=True)

In [23]:
tmdb_filtered.isnull().sum()
# Save final cleaned TMDb dataset
tmdb_filtered.to_csv("../data/processed/tmdb_cleaned.csv", index=False)
print("✅ Final cleaned TMDb data saved at data/processed/tmdb_cleaned.csv")

✅ Final cleaned TMDb data saved at data/processed/tmdb_cleaned.csv

In [24]:


links_cleaned = pd.read_csv("../data/processed/links_cleaned.csv")

tmdb_cleaned = pd.read_csv("../data/processed/tmdb_cleaned.csv")

merged_df = links_cleaned.merge(tmdb_cleaned, left_on="tmdbId", right_on="id", how="inner")

merged_df = merged_df.drop(columns=["tmdbId", "id"])

merged_df.to_csv("../data/processed/movies_final.csv", index=False)

print("✅ Merged MovieLens + TMDb data saved at data/processed/movies_final.csv")

✅ Merged MovieLens + TMDb data saved at data/processed/movies_final.csv

In [25]:
merged_df.info

<bound method DataFrame.info of        movieId   imdbId                        title  vote_average  \
0            1   114709                    Toy Story         7.971
1            2   113497                      Jumanji         7.239
2            3   113228             Grumpier Old Men         6.476
3            4   114885            Waiting to Exhale         6.183
4            5   113041  Father of the Bride Part II         6.228
...        ...      ...                          ...           ...
61118   209157  6671244                           We         5.800
61119   209159   297986               Janela da Alma         7.000
61120   209163  6755366                    Bad Poems         6.900
61121   209169   249603                 A Girl Thing         3.900
61122   209171    55323      Women of Devil's Island         4.000

       vote_count    status release_date    revenue  runtime  adult    budget  \
0           17152  Released   1995-10-30  394400000       81  False  30000000
1            9833  Released   1995-12-15  262821940      104  False  65000000
2             347  Released   1995-12-22   71500000      101  False  25000000
3             142  Released   1995-12-22   81452156      127  False  16000000
4             659  Released   1995-12-08   76594107      106  False         0
...           ...       ...          ...        ...      ...    ...       ...
61118          71  Released   2018-07-12          0      100  False         0
61119          18  Released   2001-10-20          0       73  False         0
61120          14  Released   2018-12-27          0       97  False         0
61121           6  Released   2001-01-19          0      237  False         0
61122           8  Released   1962-07-27          0       86  False         0

         imdb_id original_language                         original_title  \
0      tt0114709                en                              Toy Story
1      tt0113497                en                                Jumanji
2      tt0113228                en                       Grumpier Old Men
3      tt0114885                en                      Waiting to Exhale
4      tt0113041                en            Father of the Bride Part II
...          ...               ...                                    ...
61118  tt6671244                nl                                    Wij
61119  tt0297986                pt                         Janela da Alma
61120  tt6755366                hu                           Rossz versek
61121  tt0249603                en                           A Girl Thing
61122  tt0055323                it  Le prigioniere dell'isola del diavolo

                                                overview  popularity  \
0      Led by Woody, Andy's toys live happily in his ...      78.404
1      When siblings Judy and Peter discover an encha...      13.444
2      A family wedding reignites the ancient feud be...      14.815
3      Cheated on, mistreated and stepped on, the wom...      14.451
4      Just when George Banks has recovered from his ...      14.537
...                                                  ...         ...
61118  During a scorching summer in a Belgian-Dutch b...      14.078
61119  Nineteen people with differing degrees of visu...       2.099
61120  33-years old Tamás Merthner is heartbroken, af...       2.093
61121  A Girl Thing is a mini-series that revolves ar...       2.692
61122  Italian costume drama about convicted women in...       1.849

                                     genres
0      Animation, Adventure, Family, Comedy
1                Adventure, Fantasy, Family
2                           Romance, Comedy
3                    Comedy, Drama, Romance
4                            Comedy, Family
...                                     ...
61118                                 Drama
61119                           Documentary
61120                         Comedy, Drama
61121                               Unknown
61122              Action, Adventure, Drama

[61123 rows x 17 columns]>